<a href="https://colab.research.google.com/github/tricktx/BD_EBT/blob/main/BD_EBT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Conectando o Colab ao Google Drive
from google.colab import drive
drive.mount('/content/drive')

# Importando o pandas
import pandas as pd

In [ ]:
selecao = ['UF', 'Código IBGE', 'Ranking', 'Nota Avaliação']
df1 = pd.read_csv('/content/drive/MyDrive/Template Dados/input/EBT_1_edicao.csv', sep=';', dtype = str)
df1 = df1[selecao]
df1['ano'] = '2020'
df2 = pd.read_csv('/content/drive/MyDrive/Template Dados/input/EBT_2_edicao.csv', sep=';', dtype = str)
df2 = df2[selecao]
df2['ano'] = '2021'
df = df1.append(df2, ignore_index=True)
df.rename(columns={'UF' : 'sigla_uf', 'Código IBGE':'id_municipio', 'Ranking':'ranking', 'Nota Avaliação':'nota'}, inplace=True)


ufs = {'Acre':'AC', 'Alagoas':'AL', 'Amazonas':'AM', 'Amapá':'AP', 'Bahia':'BA', 'Ceará':'CE', 'Distrito Federal':'DF', 'Espírito Santo':'ES', 'Goiás':'GO', 
       'Maranhão':'MA', 'Minas Gerais':'MG', 'Mato Grosso do Sul':'MS', 'Mato Grosso':'MT', 'Pará':'PA', 'Paraíba':'PB', 'Pernambuco':'PE', 'Piauí':'PI', 
       'Paraná':'PR', 'Rio de Janeiro':'RJ', 'Rio Grande do Norte':'RN', 'Rondônia':'RO', 'Roraima':'RR', 'Rio Grande do Sul':'RS', 
       'Santa Catarina':'SC', 'Sergipe':'SE', 'São Paulo':'SP', 'Tocantins':'TO'} # Renomeando a sigla_uf

df['sigla_uf'] = df['sigla_uf'].map(ufs) # Criar uma estrutura de repetição, a qual todos os ufs são integrados em sigla_uf
df = df[['ano', 'sigla_uf', 'id_municipio', 'ranking', 'nota']] # Organizando as colunas (Tal, qual, arquitetura dos dados)


df['id_municipio'] = df['id_municipio'].fillna('0') # Substitui os valores nulos em id_municipio por 0
uf = df.query('id_municipio == "0"')  # Usando o Query para encontrar id_municipio == 0


uf.drop('id_municipio', axis=1, inplace=True) # excluir axis = 1 (coluna)
uf.to_csv('/content/drive/MyDrive/Template Dados/output/uf.csv', index=False, na_rep='') # # Subir o arquivo csv para o drive na pasta input
municipio = df.query('id_municipio != "0"') # Criando uma variável 
municipio.to_csv('/content/drive/MyDrive/Template Dados/output/municipio.csv', index=False, na_rep='') # Subir o arquivo csv para o drive na pasta output

In [ ]:
df

       ano sigla_uf id_municipio ranking  nota
0     2020       MS            0       1  9.64
1     2020       ES      3205002       1  9.95
2     2020       PR      4113700       1  9.95
3     2020       PA      1505304       3  9.92
4     2020       PE      2611606       4  9.90
...    ...      ...          ...     ...   ...
1379  2021       GO      5219753     558  5.01
1380  2021       GO      5220454     133  8.90
1381  2021       GO      5221403      49  9.54
1382  2021       GO      5221858     258  7.50
1383  2021       DF      5300108      25  9.74

[1384 rows x 5 columns]

In [ ]:
uf

      ano sigla_uf ranking   nota
0    2020       MS       1   9.64
6    2020       CE       3   9.47
8    2020       PE       4   9.40
10   2020       SC       4   9.40
12   2020       RS       6   9.32
15   2020       AL       7   9.26
16   2020       GO       8   9.25
18   2020       ES       8   9.25
20   2020       MT      10   8.87
22   2020       RN      11   8.80
24   2020       DF       2   9.62
26   2020       RO      11   8.80
27   2020       SP      13   8.78
28   2020       PI      14   8.70
30   2020       TO      15   8.54
34   2020       PR      16   7.87
35   2020       MA      17   7.74
36   2020       PB      18   7.52
38   2020       PA      19   7.47
41   2020       MG      20   7.36
42   2020       AM      21   7.25
44   2020       BA      22   7.23
46   2020       RJ      23   7.14
48   2020       SE      24   7.03
50   2020       AC      25   6.67
52   2020       RR      26   6.55
74   2020       AP      27   5.99
692  2021       AC      25   6.53
693  2021       AL       8   9.75
694  2021       AM      20   8.67
695  2021       AP       6   9.83
696  2021       BA      21   8.60
697  2021       CE       1  10.00
698  2021       DF       9   9.74
699  2021       ES       1  10.00
700  2021       GO      18   8.85
701  2021       MA      17   8.96
702  2021       MG       1  10.00
703  2021       MS       5   9.93
704  2021       MT       9   9.74
705  2021       PA      26   5.92
706  2021       PB       6   9.83
707  2021       PE      12   9.60
708  2021       PI      23   7.18
709  2021       PR       4   9.96
710  2021       RJ      22   7.80
711  2021       RN      16   9.10
712  2021       RO      12   9.60
713  2021       RR      27   4.91
714  2021       RS      11   9.72
715  2021       SC      15   9.21
716  2021       SE      19   8.74
717  2021       SP      12   9.60
718  2021       TO      24   6.96

In [ ]:
municipio.shape

(1330, 5)